<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kuwai.ysy">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许获取通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name="com.kuwai.ysy.app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_sading"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sading_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.home.business.loginmoudle.StartupPageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //首页
        <activity
            android:name=".module.home.business.HomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".module.home.business.loginmoudle.login.LoginActivity" />
        <activity android:name=".module.home.WebviewH5Activity" />
        <activity android:name=".module.home.FilterActivity" />
        <activity android:name=".module.home.HomePicActivity" />

        //聊天
        <activity android:name=".module.chat.MyFriendActivity" />
        <activity android:name=".module.chat.DialogAcitvity" />
        <activity android:name=".module.chat.business.ChatSettingActivity" />
        <activity android:name=".module.chat.business.QuestionActivity" />
        <activity android:name=".module.chat.business.redpack.SendRedActivity" />
        <activity android:name=".module.chat.business.redpack.RedRecordActivity" />
        <activity android:name=".module.chat.business.redpack.RedReceiveActivity" />
        <activity android:name=".module.chat.business.redpack.RedSendMyActivity" />
        <activity android:name=".module.mine.SetPayPassActivity" />

        //动态
        <activity
            android:name=".module.circle.aliyun.AlivcSvideoRecordActivity"
            android:theme="@style/AlivcRecordUIStyle" />
        <activity
            android:name=".module.circle.DyDetailActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".module.circle.HoleDetailActivity" />
        <activity
            android:name=".module.circle.ReportActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".module.find.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".module.circle.MessageActivity" />
        <activity android:name=".module.circle.VideoPlayActivity" />
        <activity android:name=".module.circle.business.PublishHoleActivity" />
        <activity android:name=".module.circle.business.RightChooseActivity" />
        <activity android:name=".module.circle.AddressChooseActivity" />
        <activity android:name=".module.circle.business.publishdy.PublishDyActivity" />
        <activity android:name=".module.circle.aliyun.AlivcRecorderActivity" />

        //发现
        <activity
            android:name=".module.find.business.FoundLocation.FoundLocationFragment"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".module.find.business.TuoDan.TuodanActivity" />
        <activity
            android:name=".module.find.SearchMeetActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".module.find.CityMeetActivity" />
        <activity android:name=".module.find.CommisDetailOtherActivity" />
        <activity android:name=".module.find.business.CommisDetailMyActivity" />
        <activity android:name=".module.find.business.FoundLocation.SearchCityFragment" />
        <activity android:name=".module.find.MapActivity" />

        //我的
        <activity
            android:name=".module.mine.MyPointActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".module.mine.MyWalletActivity" />
        <activity android:name="com.kuwai.ysy.module.mine.business.teamplayer.SingleListActivity" />
        <activity
            android:name=".module.mine.MyCreditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".module.mine.SettingActivity" />
        <activity android:name=".module.mine.business.updatevideo.UpdateActivity" />
        <activity android:name=".module.mine.VipCenterActivity" />
        <activity android:name=".module.mine.business.like.StLikeActivity" />
        <activity android:name=".module.mine.business.visitor.VisitorActivity" />
        <activity android:name=".module.mine.business.gift.GiftActivity" />
        <activity android:name=".module.mine.business.question.AskQuestionActivity" />
        <activity android:name=".module.mine.OtherHomeActivity" />
        <activity android:name=".module.mine.business.homepage.HomePageActivity" />

        <!--会话界面-->
        <activity
            android:name=".module.chat.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.kuwai.ysy"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.chat.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.kuwai.ysy"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101511982" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--WX-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--新浪-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"
            tools:replace="android:configChanges"></activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kuwai.ysy.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <!-- <meta-data
             android:name="UMENG_CHANNEL"
             android:value="${UMENG_CHANNEL_VALUE}" />-->

        <!-- 高德地图定位key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1710cbdfca064bab89a9b31ea21814b0" />

        <receiver
            android:name=".receiver.MyMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <!--<service
            android:name="io.rong.push.core.PushRegistrationService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>-->


        <!-- <service
             android:name="io.rong.push.core.MessageHandleService"
             android:exported="true"
             android:permission="android.permission.BIND_JOB_SERVICE">
         </service>


         <service
             android:name="io.rong.push.PushService"
             android:exported="false"
             android:process="io.rong.push"
             android:permission="android.permission.BIND_JOB_SERVICE">
         </service>-->


        <!-- push 相关事件接收器 -->
        <receiver
            android:name="io.rong.push.rongpush.PushReceiver"
            android:process="io.rong.push">
            <!-- 此处进程可以改名，名称需要和PushService所在进程统一 -->

            <!-- 心跳事件 -->
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT" />
            </intent-filter>
            <!-- 网络变动事件 -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- 部分用户事件 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>